---
import { tools } from '@/content/data';
import Layout from '@/layouts/Home.astro';
import Page from '@/layouts/Page.astro';

const tool = tools.find((item) => item.id === 4);
---

<Layout>
  <div class="container mx-auto">
    <Page id={4} name={tool?.name} description={tool?.description} />
  </div>
</Layout>
