---
import { tools } from '@/content/data';
import Home from '@/layouts/Home.astro';
---

<Home title="GoPDF">
  <div class="container mx-auto grid grid-cols-1 gap-4 md:grid-cols-3">
    {
      tools.map((item) => (
        <a href={`${item.page}`}>
          <article
            transition:name={`item-${item.id}`}
            class="group mt-1 rounded-lg bg-white p-8 shadow-sm transition-all hover:-translate-y-1 hover:shadow-lg"
          >
            <h3 class="mb-2 text-xl font-medium group-hover:text-amber-400">
              {item.name}
            </h3>
            <p class="text-gray-400">{item.description}</p>
          </article>
        </a>
      ))
    }
  </div>
</Home>t
